/**********************Estilo General para cambiar en toda la pagina web******************/
/*Cambiar colores a los nombres del Label*/
#Letras{
  color:white;
  /* font-weight: 700; */
}
/****************************************/
/*Cambia el Color de los Paneles*/
#ColoresPaneles {
  background: #10575C;
  font-weight: 100;
}
/*********************************/
/*Cambia el color del footer menu lateral*/
#ColoresPanelesFooter{
  background: #083F43;
  font-weight: 500;
  color: white;
}
/****************************************/
/*Cambiamos el color de los iconos*/
#iconos{
  color: white;
}
/*********************************/
/*Donde se realizara el hover*/
#HoverMenu{
  color: white;
}
#HoverMenu:hover {
  background: #00BDCB;
}
/********************************/
.PiePagina {
    height: 3%;
    width: 100%;
}
/*La cabecera de la tabla no se distorcione*/
.AnchoCabTabla{
  white-space: nowrap;
}
/*********************************************/
/*Para que la tabla tenga scroll y no se distorcione*/
#TablaContenedor{
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
}
/******************************************/

/**********El contenedor que contiene el contenido principal***************/
#contenedorPrincipal{
  height: 100%;
}
/***************************************************************************************/
#ContenidoIcono{
  position: relative;
  left: -12px;
  padding: 6px 12px;
  color: white;
  background:rgba(0,0,0,0.15);
}
#BotonContenedor{
  height: 100%;
  width: 70px;
  padding: 0;
  color: white;
  font-weight: 600;
}
#contenedorDetalle{
  padding: 0;
}
#contenedorPrincipal{
  background: #ECECEC;
}
#paginacion{
  display: inline-block;
}
#nombreAgent{
  color:blue;
}
#CuerpoCard{
  padding: 2px;
}
#InputForm{
  padding:2px;
}
#CardPesonal{
  background: white;
}
#contenedorPrincipalCardPersonal{
  width: 100%;
  height: 100%;
}
#TextPesonalCard{
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.contenedorCommadInfo{
  overflow-x: hidden;
  overflow-y: hidden;
}
