/*********************Estilo General para cambiar en toda la pagina web******************/
body{
  font-size: 1.2em !important;
}

/*Cambiar colores a los nombres del Label*/
#Letras{
  color:white;
  /* font-weight: 700; */
}
/****************************************/
/*Cambia el Color de los Paneles*/
#ColoresPaneles {
  background: #393939;
  font-weight: 100;
}
/*********************************/
/*Cambia el color del footer menu lateral*/
#ColoresPanelesFooter{
  background: #083F43;
  font-weight: 500;
  color: white;
}
/****************************************/
/*Cambiamos el color de los iconos*/
#iconos{
  color: white;
}
/*********************************/
/*Donde se realizara el hover*/
#HoverMenu{
  color: white;
}
#HoverMenu:hover {
  background: #00BDCB;
}
/********************************/
.PiePagina {
    height: 3%;
    width: 100%;
}
/*La cabecera de la tabla no se distorcione*/
.AnchoCabTabla{
  white-space: nowrap;
}
/*********************************************/
/*Para que la tabla tenga scroll y no se distorcione*/
#TablaContenedor{
  white-space: nowrap;
}
/******************************************/

/**********El contenedor que contiene el contenido principal***************/
#contenedorPrincipal{
  height: 100%;
}
/***************************************************************************************/
#ContenidoIcono{
  float: left;
  left: -12px;
  padding: 6px 12px;
  color: white;
  background:rgba(0,0,0,0.15);
}
#BotonContenedor{
  height: 100%;
  width: 70px;
  padding: 0;
  color: white;
  font-weight: 600;
}
#contenedorDetalle{
  padding: 0;
}
#contenedorPrincipal{
  background: #ECECEC;
}
#paginacion{
  display: inline-block;
}
#nombreAgent{
  color:blue;
}
#CuerpoCard{
  padding: 2px;
}
#InputForm{
  padding:2px;
}
#CardPesonal{
  background: white;
}
#contenedorPrincipalCardPersonal{
  width: 100%;
  height: 100%;
}
#TextPesonalCard{
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.contenedorCommadInfo{
  overflow-x: hidden;
  overflow-y: hidden;
}

.BotonesMenuDerecha {
  float: right;
}

#BotonesMenuDerechaSuperior {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
}

#NombreUsuario{
  white-space: normal;
  margin-left: -40px;
}
.table-cont{
  /**make table can scroll**/
  height: 90vh;
  overflow: auto;
  padding:0px;
  /** add some style**/
  /*padding: 2px;*/
  background: #ddd;
  margin: 20px 10px;
  box-shadow: 0 0 1px 3px #ddd;
}

#Talked_to_Lead:hover{
  background:green;
}

#Wrong_Number:hover{
  background:#C3D131;
}

#Opted_Out:hover{
  background:red;
}

#Bad_Time:hover{
  background:orange;
}

#Call_Attempt:hover{
  background:black;
}

#Left_Voicemail:hover{
  background:#79C307;
}

.App-map-google {
  font-family: sans-serif;
  text-align: center;
  height: 50vh;
  position: relative;
}

.App-map-google-2 {
  height: 100%;
  width: 100%;
}